/* ====================== General */

body {
  background-color: #e6ecf0;
}

body.error-404 {
  background-color: #1da1f2;
}

.btn {
  border-radius: 50px;
}

.btn:hover {
  cursor: pointer;
}

/* ======================= Nav */

.navbar {
  background-color: #fff;
  height: 10vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
  position: relative;
  z-index: 9999;
}

.navbar a {
  color: #66757f;
  font-size: clamp(1.5em, 1vw + 2rem, 2em);
  font-weight: bold;
  text-decoration: none;
  margin-right: 15px;
}

.navbar a:hover {
  color: #1c94e0;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand>img {
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 5px;
  width: 70px;
  border-radius: 2px;
}

.nav>li>a>img {
  height: 70px;
  width: 70px;
  border-radius: 32px;
}

ul.nav.navbar-nav {
  align-items: center;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
  display: flex;
}

.logout-btn {
  font-size: clamp(1em, 1vw + 2.5rem, 1.5em);
}

nav form.navbar-form {
  display: flex;
  position: relative;
}


/* on "onboarding" pages (signup & login), the navbar is
   different: no search box, the logo is centered, and it has
   a background color.
 */

.onboarding>.navbar {
  background-image: url("/static/images/nav-bg.png");
  background-size: 100% 100%;
}

.onboarding .navbar-header {
  margin: 0 auto;
}

.onboarding .navbar-brand {
  margin: 0;
}

.onboarding .navbar-brand span {
  display: none;
}

.onboarding .nav.navbar-nav.navbar-right {
  position: absolute;
  right: 16px;
}

.onboarding>.navbar a {
  color: #fff;
}

.onboarding>.navbar form.navbar-form {
  display: none;
}

.onboarding {
  background-color: #fff;
}

@media (max-width: 468px) {
  nav form.navbar-form {
    display: none;
  }
}

nav+.container {
  margin-bottom: 1rem;
}

/* ===================== User profile */

.join-message {
  margin-top: 100px;
  font-size: clamp(3.5em, 1vw + 2.5rem, 3.5em);
}

#user-header-image {
  width: inherit;
  height: inherit;
}

#profile-image,
#profile-avatar {
  border-radius: 100%;
  display: block;
  margin-left: -15px;
}

#profile-image {
  margin: 0 auto 15px;
  width: 100%;
}

#profile-avatar {
  width: 200px;
  height: 200px;
  border: 5px solid #fff;
  margin-top: -120px;
  z-index: 1;
  position: relative;
  box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
}

.new-warb a {
  font-size: 30px;
  background-color: blue;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.timeline-image {
  border-radius: 48px;
  height: 90px;
  width: 90px;
  margin-top: 2px;
}

.message-area,
.timeline-image {
  display: inline-block;
}

.message-area {
  margin-left: 10px;
}

#warbler-hero {
  height: 360px;
  margin-top: -16px;
  opacity: 0.7;
  background-size: contain;
  background-repeat: no-repeat;

  background-position: top center;
}

.full-width {
  width: 100vw;
  margin: 0 -50vw;
  position: relative;
  left: 50%;
  right: 50%;
}

.row.full-width {
  background-color: #fff;
  margin-top: -80px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  /* height: 60px; */
  align-items: center;
}

.user-stats>.ms-auto {
  display: flex;
  align-items: center;
}

.user-stats>.ms-auto .btn {
  min-width: 105px;
  padding: 6px 16px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 30px;
}

.stat {
  text-align: center;
  height: 60px;
  box-sizing: border-box;
  padding: 14px 15px 7px;
  line-height: 1;
}

.stat>.small {
  color: #657786;
  font-weight: bold;
  font-size: 30px;
  /* font-size: clamp(1rem, 12vw + 1rem, 1rem); */
  letter-spacing: 0.02em;
  margin-bottom: 0;
}

.stat>.small+h4 {
  font-size: 25px;
  font-weight: bold;
  padding-top: 3px;
}

#messages {
  position: relative;
}

#messages .message-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#messages .list-group-item a:not(.message-link) {
  position: relative;
  z-index: 2;
}

#messages .list-group-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 7px 20px 12px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px #d0d0d0;
}

.profile-message-container {
  display: flex;
  font-size: 35px;
}

#messages:not(.no-hover) .list-group-item:hover {
  background-color: #e6ecf0;
}

.like-button {
  position: sticky;
  background: none;
  z-index: 5;
  font-size: 40px;
}

.filled-gold {
  color: gold;
}

#sidebar-username {
  margin-top: 30px;
  font-size: 35px;
  font-weight: bold;
  line-height: 28px;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .full-width .user-stats .stat {
    display: none;
  }

}

.user-location {
  color: #657786;
  font-size: 25px;
}

.follow-user-location {
  color: #657786;
  font-size: 25px;
  margin-left: 10px;
  margin-top: 10px;
}


.user-bio {
  color: #657786;
  font-size: 30px;
}

/* ==================== User cards on follower/following pages */

.user-card {
  position: relative;
  width: 100%;
  height: 20vh;
  padding-bottom: 90%;
  border-radius: 5px;
  border: 1px solid #ccc;
  position: relative;
  background: white;
  margin-top: 25px;
}

.user-card>div {
  position: absolute;
  background: white;
}

.user-card form {
  margin-top: 15px;
  margin-right: 15px;
}

.user-card form .btn {
  min-width: 89px;
  padding: 4px 12px;
  font-size: 30px;
}

.card-hero {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card-image {
  border: 3px solid #fff;
  border-radius: 70px;
  height: 150px;
  width: 150px;
  margin-top: -35px;
  position: relative;
  z-index: 1;
}

.follower-image {
  border: 3px solid #fff;
  border-radius: 70px;
  height: auto;
  width: 15vw;
  margin-top: -35px;
  position: relative;
  z-index: 1;
}

.card-link {
  display: inline-block;
  margin-left: 10px;
}

.card-link>p {
  position: absolute;
  font-size: 35px;
  margin-top: -8px;
}

.user-cards {
  margin-bottom: 20px;
}

.card-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image-wrapper {
  width: 100%;
  padding-bottom: 36%;
  position: relative;
  overflow: hidden;
}

.card-contents {
  display: flex;
  justify-content: space-between;
}

p.card-bio {
  margin: 2em 10px 0;
  font-size: 25px;
}

.alert {
  font-size: clamp(1em, 12vw + 1rem, 2em);
}

.form-input {
  height: 75px;
  font-size: clamp(1em, 12vw + 1rem, 2em);
  margin-bottom: 15px;
}

.form-tag {
  font-size: clamp(1em, 12vw + 1rem, 2em);
}

.edit-btn-area button,
.edit-btn-area a {
  font-size: clamp(1em, 12vw + 1rem, 2em);
  margin-bottom: 30px;
}

.warb-text {
  font-size: 2em; 
}

.add-warb {
  font-size: 2em;
}

@media (min-width: 991px) {
  .card-link>p {
    position: absolute;
    font-size: 18px;
    margin-top: -35px;
  }

  .stat>.small {
    font-size: 13px;
    /* font-size: clamp(1rem, 12vw + 1rem, 1rem); */

  }

  .stat>.small+h4 {
    font-size: 13px;
  }

  .new-warb a {
    font-size: 15px;
  }

  .profile-message-container {
    display: flex;
    font-size: 20px;
  }

  .like-button {
    font-size: 20px;
  }

  .user-stats>.ms-auto .btn {
    min-width: 105px;
    padding: 6px 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
  }

  .card-image {
    height: 100px;
    width: 100px;
  }

  .follower-image {
    height: auto;
    width: 90px;
  }

  .card-link>p {
    position: absolute;
    font-size: 25px;
    margin-top: -8px;
  }

  p.card-bio {
    margin: 2em 10px 0;
    font-size: 15px;
  }

  .user-card form .btn {
    min-width: 89px;
    padding: 4px 12px;
    font-size: 15px;
  }

  .follow-user-location {
    font-size: 15px;
  }

}

/* ============================ Signed out home */

.home-hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  left: 0;
  z-index: -1;
  background-image: url("/static/images/signed-out-home.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1rem;
  text-shadow: 0 2px 5px #000000;
}

.home-hero .btn {
  text-shadow: none;
  position: relative;
  z-index: 1;
  width: 150px;
}

.home-hero h1 {
  margin-bottom: 4rem;
  font-size: clamp(3.5em, 1vw + 3rem, 4.5em);
}

.home-hero h4 {
  font-size: clamp(3.5em, 1vw + 2.5rem, 4.5em);
}

.home-hero p,
.home-hero a {
  font-size: clamp(1em, 1vw + 1rem, 2em);
}

.home-hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
}

/* ============================== Signed in Home */

.search-form {
  width: 100%;
}

.search-container input {
  font-size: clamp(1em, 1vw + 1em, 1.5em);
  max-height: 100px;
  padding: 20px;
}

.search-input {
  font-size: clamp(1.5em, 1vw + 1.5rem, 1.5em);
  border-radius: 10px;
}

#home-aside>.user-card {
  margin-top: 0;
  overflow: hidden;
}

#home-aside>.user-card .card-link {
  display: flex;
}

#home-aside>.user-card .card-link>p {
  margin-left: 0.5rem;
  margin-top: 0.25rem;
}

#home-aside>.user-card .stat {
  padding: 14px 0 7px;
}

#home-aside>.user-card .user-stats {
  display: flex;
  justify-content: space-around;
}

#home-aside>.user-card>div {
  width: 100%;
}

#home-aside .card-link>p {
  position: relative;
}

#home-aside .stat h4 {
  text-align: left;
}

/* ========================== Signup/Login */


#user_form input.form-control {
  font-size: clamp(1.5em, 1vw + 1.5rem, 1.5em);
  font-weight: bold;
  height: 100px;
  padding: 1em;
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 1.5;
  padding: 1rem 1.5rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 100%;
}

/* =========================== Edit Page */

.edit-btn-area {
  display: flex;
  justify-content: space-between;
}

.edit-btn-area>.btn {
  width: 48%;
}

/* =========================== Message Show page */

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #62676c;
}

#messages.no-hover .message-area {
  width: 100%;
}

#messages.no-hover .message-heading {
  display: flex;
  justify-content: space-between;
  height: 47px;
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 35px;
}

#messages.no-hover .message-heading .btn {
  min-width: 105px;
  font-size: 30px;
}

.messages-like {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;
}

.messages-like-bottom {
  position: absolute;
  bottom: 4px;
  right: 4px;
  z-index: 1;
}

.single-message {
  font-size: 50px;
  line-height: 32px;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.single-show-message {
  font-size: 40px;
  line-height: 35px;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.show-text-muted {
  font-size: 30px;
}

/* ================================ 404 page */

.message-404 {
  color: white;
  margin-top: 2em;
  text-align: center;
}

.message-404 a {
  color: white;
}

.message-404>h4.display-4 {
  font-size: 2.5em;
}

.message-404 input {
  flex: 1;
}