{% extends 'base.html' %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-sm-8 col-lg-10">
      <h2 class="join-message">Edit Your Profile.</h2>
      <form method="POST" id="user_form" class="d-flex flex-column">
        {{ form.hidden_tag() }}

        {% for field in form if
              field.widget.input_type != 'hidden' and
              field.name != 'password' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          <div class="d-flex flex-column">
            {{ field.label(class="form-tag") }}
            {{ field(placeholder=field.label.text, class="form-input") }}
          </div>
        {% endfor %}

        <p class="form-tag">To confirm changes, enter your password:</p>

        {% if form.password.errors %}
          {% for error in form.password.errors %}
            <span class="text-danger">
            {{ error }}
          </span>
          {% endfor %}
        {% endif %}

        {{ form.password(
            placeholder="Enter your password",
            class="form-input") }}
        <div class="edit-btn-area">
          <button class="btn btn-success">Edit this user!</button>
          <a href="/users/{{ user_id }}" class="btn btn-outline-secondary">Cancel</a>
        </div>

      </form>
    </div>
  </div>

{% endblock %}